@{
    ViewBag.Title = "О программе";
}
<h2>@ViewBag.Title.</h2>
<h3>Данное приложение представляет собой инструмент по обработке базы данных, содержающую информацию о компаниях и их клиентах!</h3>

<p>Используйте эту область, чтобы предоставить дополнительную информацию.</p>
