@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>
<h3>Мои контактные данные</h3>

<address>
    Болонина Юлия Андреевна<br />
    г.Москва, Энергетическая дом 10, корпус 2, 111116<br />
    <abbr title="Телефон">Т:</abbr>
    8-985-43-42-325
</address>

<address>
    <strong>E-mail:</strong>   <a href="mailto:boloninajulia@gmail.com">boloninajulia@gmail.com</a>
</address>