@model Application.DB.Company

@{
    ViewBag.Title = "Удаление компании";
}

<h2>Удаление</h2>

<h3>Вы уверены, что хотите удалить эту компанию?</h3>
<div>
    <h4>Компания:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">

            <a href='@Url.Action("Company")'>
                <img src="~/images/1461595450_go-back.png" alt="Вернуться к списку" />
            </a>|
            <input type="submit" value="Удалить" class="btn btn-default" />
        </div>
    }
</div>
